<div class="login-container">
  <div class="login-form">
    <img src="" alt="logo" class="login-form-logo">
    <div class="login-form-content">
      <h1>Bienvenido</h1>
      <p>Gracias por volver</p>
      <div class="login-form-input">
        <label>Email*: </label>
        <input type="email" placeholder="Email">
      </div>
      <div class="login-form-input">
        <label>Contraseña: </label>
        <input type="password" placeholder="Contraseña">
      </div>
      <small>Olvide la Contraseña</small>
      <div class="login-form-buttons">
        <button class="login-form-buttons__signup">Registrarse</button>
        <button class="login-form-buttons__signin">Iniciar sesion</button>
      </div>
    </div>
    <div class="login-fomr-footer">
      <div class="login-form-footer__links">
        <a href="#">Acerca de</a>
        <a href="#">Contactanos</a>
        <a href="#">Blog</a>
      </div>
      <div class="login-form-footer__socials">
        <i class="fab fa-facebook-square login-form-footer__socials_social"></i>
        <i class="fab fa-twitter-square login-form-footer__socials_social"></i>
        <i class="fab fa-instagram-square login-form-footer__socials_social"></i>
      </div>
    </div>
  </div>
</div>